<!DOCTYPE html>
<html>
<head>
    <title>Genders</title>
    <meta charset="utf-8">

    <link href="css/kendo.common.min.css" rel="stylesheet">
    <link href="css/kendo.silver.min.css" rel="stylesheet">
    <link href="css/kendo.silver.extended.css" rel="stylesheet">
    <link href="css/jquery.toast.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">

    <script src="js/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/lib/kendo.web.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery.toast.min.js" type="text/javascript"></script>

</head>
<body>

    <span id="spinner-container"></span>

    <ul id="genders"></ul>

    <div id="content" class="k-content">

        <div id="grid"></div>

        <!-- http://demos.telerik.com/kendo-ui/web/styling/icons.html -->
        <script type="text/x-kendo-template" id="toolbar_template">
            <div class="toolbar">
                <div class="grid-title-div">
                    <span class="grid-title-span">GET ALL GENDERS</span>
                </div>
                <div style="float: right;">
                    <label class="search-label" for="searchbox">Search:</label>
                    <input type="search" id="searchbox" class="k-input k-textbox" style="width: 150px" />
                    <a class="k-button k-button-icontext k-grid-ClearSearch" style="visibility: hidden" href="\#"><span class="k-icon k-i-funnel-clear"></span>Clear</a>
                </div>
            </div>
        </script>

    </div>

    <!-- HTML INCLUDES -->
    <script>
        $(function () {
            $('#spinner-container').load('templates/spinner.html');
        });
    </script>

    <!-- APP JS -->
    <script src="js/helpers/ajax.js" type="text/javascript"></script>
    <script src="js/helpers/utils.js" type="text/javascript"></script>
    <script src="js/genders.js" type="text/javascript"></script>

</body>
</html>