<!DOCTYPE html>
<html>
<head>
    <title>Shopper</title>
    <meta charset="utf-8">

    <link href="css/kendo.common.min.css" rel="stylesheet">
    <link href="css/kendo.silver.min.css" rel="stylesheet">
    <link href="css/kendo.silver.extended.css" rel="stylesheet">
    <link href="css/jquery.toast.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">

    <script src="js/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/lib/kendo.web.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery.toast.min.js" type="text/javascript"></script>

</head>
<body>

    <form id="form" style="margin-bottom: 20px;">
        <h3>PARAMS FORM</h3>
        <table>
            <tr>
                <td><label for="acct_id">Account ID [acct_id]</label></td>
                <td>
                    <input type="number" id="acct_id" name="acct_id" placeholder="integer" required min="1" autofocus />
                    <div class="req-msg"></div>
                    <div class="validation-msg"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="center" style="padding-top: 10px;">
                    <button id="submitButton" type="submit" style="width: 100px;">SUBMIT</button>
                    <span id="spinner-container"></span>
                </td>
            </tr>
        </table>
    </form>

    <div id="content" class="k-content">

        <div id="grid"></div>

        <!-- http://demos.telerik.com/kendo-ui/web/styling/icons.html -->
        <script type="text/x-kendo-template" id="toolbar_template">
            <div class="toolbar">
                <div class="grid-title-div">
                    <span class="grid-title-span">GET 1 SHOPPER</span>
                </div>
                <div style="float: right;">
                    <label class="search-label" for="searchbox">Search:</label>
                    <input type="search" id="searchbox" class="k-input k-textbox" style="width: 150px" />
                    <a class="k-button k-button-icontext k-grid-ClearSearch" style="visibility: hidden" href="\#"><span class="k-icon k-i-funnel-clear"></span>Clear</a>
                </div>
            </div>
        </script>

    </div>

    <!-- HTML INCLUDES -->
    <script>
        $(function () {
            $('#spinner-container').load('templates/spinner.html');
        });
    </script>

    <!-- APP JS -->
    <script src="js/helpers/ajax.js" type="text/javascript"></script>
    <script src="js/helpers/utils.js" type="text/javascript"></script>
    <script src="js/shopper.js" type="text/javascript"></script>

</body>
</html>