<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <meta charset="utf-8">

    <link href="css/kendo.common.min.css" rel="stylesheet">
    <link href="css/kendo.silver.min.css" rel="stylesheet">
    <link href="css/kendo.silver.extended.css" rel="stylesheet">
    <link href="css/jquery.toast.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <script src="js/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/lib/kendo.web.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery.toast.min.js" type="text/javascript"></script>

    <style>
        
    </style>
</head>
<body>

    <div class="ui-load-container"></div>

    <div class="ui-page">
        <form id="form" style="margin-bottom: 20px;">
            <h3>SIGN-IN FORM</h3>
            <table>
                <tr>
                    <td><label for="username">Username [username]</label></td>
                    <td>
                        <input type="email" id="username" name="username" required autofocus />
                        <div class="req-msg"></div>
                        <div class="validation-msg"></div>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password [password]</label></td>
                    <td>
                        <input type="password" id="password" name="password" required />
                        <div class="req-msg"></div>
                        <div class="validation-msg"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center" style="padding-top: 10px;">
                        <button id="submitButton" type="submit" style="width: 100px;">SUBMIT</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- HTML INCLUDES -->
    <script>$('.ui-load-container').load('templates/working.html');</script>

    <!-- APP JS -->
    <script src="js/helpers/ajax.js" type="text/javascript"></script>
    <script src="js/helpers/utils.js" type="text/javascript"></script>
    <script src="js/sign-in.js" type="text/javascript"></script>

</body>
</html>